.navbar{
    background-color: #4dad48;
        
}

.head{
   background-color: #4dad48;
   font-family: 'Patua One', cursive;
  text-align: center;
 
  
}

.card-img-top{
    height: 80px;
    width: 180px;
}


.card{
   
    border-style: double;
    padding: 10em
}

.bg{
    background-color: #4dad48;
}

.navbar-toggler{
    color: darkblue;
}